*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body{
  font-family: 'montseratt', sans-serif;
}

.app{
  background: url('./assets/snow-mountain-cloud.jpg');
  background-size: cover;
  background-position:bottom ;
  transition: 0.4 ease-out;
  background-blend-mode:overlay;
}

.app.warm {
background-image: url('./assets/sun-red-weather.jpg');

}

.app.wel{
  background-image: url('https://images.pexels.com/photos/695657/pexels-photo-695657.jpeg?cs=srgb&dl=pexels-johann-piber-695657.jpg&fm=jpg');
  background-blend-mode: lighten;
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box{
  width: 70%;
  margin: 0 0 75px;
  position: relative;
  left:15%;
  margin-top: 5%;
 
}

.search-box .search-bar{
display:block;
width:100%;
font-size: 1.2rem;
color:slategrey;


appearance: none;
border: none;
outline: none;

background-color: rgba(255,255,255, 0.5);
border-radius:0px 0px 16px, 16px ;
padding:15px;
margin-top: -25px;
border-radius: 5px;

box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
transition: 0.4s ease;
}

.search-bar.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
 
}

.location-box .location{
  color:white;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50, 70, 0.5);
}

.location-box .date{
color:white;
font-size: 20px;
font-style: italic;
margin-top:1em;
font-weight: 300;
text-align:center;
text-shadow: 2px 2px rgba(50,50, 70, 0.5);
}

div .weather-box{
  text-align:center;
}

.weather-box .temp {
position: relative;
display: inline-block;
margin: 30px auto;
background-color: rgba(255,255, 255, 0.2);

padding: 15px 25px;
border-radius: 5px;

color:white;

font-size: 102px;
font-weight: 900;

text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

}

.weather-box .weather{
  color:white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: rgba(50, 50, 70, 0.5);
}